:root {
    --darkColour1: #281885;
    --darkColour2: #454550;
    --accentColour1: #b5bdff;
    --accentColour2: #FFD485;
    --accentColour3:  #A5E3FC;
    --accentColour4: #FFB0CD;
    --accentColour5:  #FFB2A2;
  }
  
  body {
      background-color: white;
      width: 100%;
      margin: 0;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
  }
  
  /*Start of header styling */
  #header {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    left:0;
    height: 80px;
    /* box-shadow: rgba(114, 114, 150, 0.25) 0px 13px 27px -5px, rgba(78, 78, 78, 0.3) 0px 8px 16px -8px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 5px;
  }
  
  #logo-section {
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 5vw;
  }
  
  #logo-section img {
    width: 50px;
    height: 50px;
    padding: 20px;
  }
  
  #names { /* Aligning & styling company name and tagline*/
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    height: 60px;
    margin: 0;
  }
  
  #names p {
    color: var(--darkColour1);
    font-style: italic;
    padding: 0;
    margin:0;
  }
  
  #header h1 {
    color:  var(--darkColour1);
    margin: 0;
    font-weight: bold;
    text-decoration: drop-shadow;
    padding: .23em;
    border-radius: .40em;
    background: var(--accentColour1);
  }
  
  #nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    display: flex;
    margin-top: 0;
    justify-content: space-around;
    align-items: center;
    margin-right: 5vw;
    background-color: white;
    
  }
  
  #nav-bar li  a{
    color: var(--darkColour1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0 1vw;
  }
  
  #nav-bar li a:hover { /*Changes colour of text on hover */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  #support-button a{
    background-color: var(--accentColour4);
    color: var(--darkColour1);
   border-radius: 10px;
   padding: 2px; 
   box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
  
  #support-button a:hover{ /*Changes colour of button on hover */
    background-color: var(--accentColour5);
    color: var(--darkColour1);
   border-radius: 10px;
   padding: 2px; 
   
  }
  
  /* End of header styling*/
  
  .title {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    font-size: 4rem;
    width: 40vw;
    align-items: center;
    margin-top: 90px;
    border-radius: 25px;
    color: var(--darkColour1);
  }

  #walletIcon {
    width: 1em;
    height: auto;
    margin: 0 20px;
  
  }

  /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -200px;
  font-size:  0.4em;
  font-weight: lighter;
  width: 400px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
  
  .boxShadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }

  .largeBalance {
    width: 600px;
    height: 140px;
    background-color: var(--darkColour2);
    display: flex;
    margin: 20px auto;
    border-radius: 40px;
    padding: 20px 30px;
    flex-direction: column;
  }

  .largeBalanceTitle {
    color: white;
    font-size: 2em;
    align-self: flex-start;
    margin: 0;
  }

  .largeBalanceValue {
    color: var(--accentColour3);
    font-size: 4em;
    font-weight: normal;
    margin-top: 20px;
  }

  .buttonContainer {
    display: flex;
    justify-content: space-around;
    margin: 30px auto;
    width: 80%;
    max-width: 800px;
  }

.functionButton {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.functionButton button{
  appearance: none;
  backface-visibility: hidden;
  border-radius: 20px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bolder;
  height: 150px;
  width: 150px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  touch-action: manipulation;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.functionButton button:hover {
  background-color: var(--accentColour1);
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.functionButton button:hover:after {
  opacity: .5;
}

.functionButton button:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.functionButton button:active:after {
  opacity: 1;
}

.functionIcon {
  width: 80px;
  height: auto;
}

#buyButton {
    background-color: var(--accentColour1);
}

#sellButton {
    background-color: var(--accentColour2);
}

#addCashButton {
    background-color: var(--accentColour5);
}

#cashOutButton {
    background-color: var(--accentColour4);
}

.cryptoBalanceContainer {
    width: 60%;
    margin:40px auto;
    border-radius: 40px;
    background-color: var(--darkColour2);
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
}

.cryptoBalance {
    width: 95%;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 15px;
    margin: 10px auto;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    display:flex;
    margin: 5px auto; /* 15% from the top and centered */
    border: none;
    width: 50%; /* Could be more or less, depending on screen size */
    min-width: 600px;
    height: 80%;
    border-radius: 40px;
    padding: 60px;
    flex-direction: column;
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: var(--accentColour4);
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

  /*Modal form styling*/

  form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    
  }

  .formLineContainer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 600px;
    margin: 20px auto;
  }

  .formLineContainer label {
    font-size: 1.5em;
    font-weight: 200;
  }

  .formLineContainer  input {
    width: 600px;
    height: 60px;
    border: 1px solid var(--darkColour2);
    border-radius: 20px;
    padding-left: 10px;
    font-size: 1.2em;
  }

  .formLineContainer .oneLineText {
    width: 400px;
  }

  .formLineContainer .oneLineSelect {
    width: 180px;
    height: 60px;
    border: 1px solid var(--darkColour2);
    border-radius: 20px;
    padding: 20px;
    font-size: 1.2em;
  }

.formButtonContainer {
  display: flex;
  justify-content: space-around;
}

.formButtonContainer button {
    color: var(--darkColour1);
   border-radius: 10px;
   padding: 20px; 
   box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
   border: none;
   width: 200px;
   height: 80px;
   font-size: 2em;
   font-weight: bolder;
   

}

.formButtonContainer button:hover{ /*Changes colour of button on hover */
  
  color: var(--darkColour1);
 border-radius: 10px;
 border: none;
}

.cancelbtn:hover {
  background-color: #bdbdc4;
}